body {
  font-family: Verdana, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #007b33;
  color: white;
}

tr:hover {
  background-color: #f9f9f9;
}

img {
  width: 140px;
  border-radius: 4px;
}

.price {
  color: #2e8b57;
  font-weight: bold;
}


nav {
  background-color: rgba(26, 26, 26, 0.95);
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: saturate(180%) blur(8px);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  color: #f39c12;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  user-select: none;
}

.nav-links a {
  color: #eee;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f39c12;
}

.section {
  margin-top: 20px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: linear-gradient(135deg, #2c3e50, #9b9b9b);
  color: white;


  /* <== Ось тут градієнт */
  border: 1px solid #ccc;
}


.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  width: 300px;
  height: 180px;
}

.product-info {
  padding: 15px;
}

.product-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-info .price {
  font-weight: bold;
  color: green;
  margin-bottom: 10px;
}

.product-info p {
  margin: 4px 0;
  font-size: 14px;
}